.header__logo{
  padding-bottom: 41px;
  object-fit: contain;
  width: 142px;
}

@media screen and (max-width: 880px) {
  .header__logo{
    padding-left: 27px;
  }
}

@media screen and (max-width: 685px) {
  .header__logo{
    padding-bottom: 32px;
    width: 104px;
  }
}