.header{
  max-width: 880px;
  margin: 0 auto 40px;
  padding-top: 45px;
  border-bottom: 1px solid rgb(84, 84, 84, .7);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 685px) {
  .header{
    margin: 0 0 42px;
    padding-top: 28px;
  }
}

